body{
    background-color: #CE796B;
}

button,
div,
form,
label,
input {
  margin: 10px;
}

button{
    background-color: #495867;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

h1 {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-family: monospace;
}

.typeofAnimal {  
    float:left;
}

p {
    margin: 0 5px 5px 0;
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: monospace;
    word-wrap: break-word;   
}

img{
    border: 7px ridge #ECC8AF;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

h4 {
    justify-content: center;
}

#animal-input,
#movie-input {
    background-color: #E7AD99;
    border-color: white;
}

.container {
    text-align: center;
}

.leftAligned {
    text-align: left;
}

h2, h4 {
    font-family: 'WaltographRegular'; 
    color: white;
}

.title {
    text-decoration: underline;
}

label {
width: 150px;
}

a {
    color: white;
    display: block;
}